//fonts
$ubuntu: 'Ubuntu', sans-serif;

//colors
$licorice: #19180A;
$green: #00AB66;

//sizes
$xs: 0.5rem;
$normal: 1rem;
$sm: 1.5rem;
$md: 2rem;
$lg: 3rem;
$xlg: 5rem;
$xxlg: 7rem;

$button-radius: 30px;

//breakpoints
$lg-breakpoint: 1024px;
$md-breakpoint: 768px;
$sm-breakpoint: 641px;
$xs-breakpoint: 480px;